{% extends "C:\Coding\Python\Django\1stenv\core\home\templates\base.html"%}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Receipe Name</label>
        <input name = "receipe_name" required type="text" class="form-control" >
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2"  class="form-label">Receipe Description</label>
        <textarea name="receipe_description" required class="form-control"></textarea>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput3" class="form-label">Receipe Image</label>
        <input name = "receipe_img" type="file" class="form-control" >
      </div>
      <button type="submit" class="btn-btn-success">Add Receipe</button>
    </form>
    <div class="mt-5">
      <div class="mx-auto col-6">
          <form>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Search Recipe</label>
            <input name = "search" type="text" class="form-control" >
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">S. No.</th>
          <th scope="col">Receipe Name</th>
          <th scope="col">Receipe Description</th>
          <th scope="col">Receipe Image</th>
          <th>Actions</th> 
        </tr>
      </thead>
      <tbody>
        {% for x in Receipe %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{x.receipe_name}}</td>
          <td>{{x.receipe_description}}</td>
          <td>
            <img src="/media/{{x.receipe_img}}" alt="{{x.receipe_name}}" style="height:100px"> </td>
            <td>
              <a href="/delete_receipes/{{x.id}}" class="btn btn-danger m-2">Delete</a>
              <a href="/update_receipes/{{x.id}}" class="btn btn-success">Update</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}